/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******** end reset ********/

body {
  font-family: 'Lora', arial, serif;
  line-height: 24px;
  width: 972px;
  margin: auto;
/*  background: url('/images/gridbg.png');*/
}

html>body {
  font-size: 18px;
}

h1 {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header {
  position: relative;
  height: 69px;
  border-bottom: 3px double #ccc;
  margin-bottom: 24px;
}

header h1 {
  line-height: 36px;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav {
  position: absolute;
  right: 0;
  bottom: 0px;
  line-height: 36px;
  font-size: 18px;
}

div#content {
  clear: both;
}

article header {
  position: static;
  height: 96px;
  border: none;
}

article header h1 {
  position: static;
  bottom: auto;
  left: auto;
  margin-bottom: 24px;
  padding-bottom: auto;
  line-height: 48px;
  font-size: 32px;
}

article p a {
  color: blue;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

article ul {
  list-style: circle inside;
  font-size: 16px;
}

article ul a {
  color: blue;
}

pre {
  padding: 7px;
  background-color: #444;
  color: white;
  margin-bottom: 24px;
  overflow-x: auto;
  border: 5px ridge;
}

code {
  font-family: Monaco, monospace;
  font-size: 14px;
  background-color: #eee;
}

pre code {
  background-color: #444;
}

article footer {
  margin-top: auto;
  border-top: none;
  height: auto;
  text-align: left;
  line-height: 24px;
}

article time {
  line-height: 24px;
  margin-bottom: 24px;
  font-style: italic;
  color: #888;
}

div#contact {
  text-align: center;
}

#google-voice-widget {
  width: 230px;
  height: 85px;
  line-height: 96;
}

footer {
  margin-top: 24px;
  border-top: 3px double #ccc;
  height: 45px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}