<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <link rel='stylesheet' href='css/screen.css' />
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <title>Matthew Manning - {{ page.title }}</title>
</head>
<body>
  <header>
    <h1><a href='#'>matthew manning</a></h1>
    <nav>
        <a href='#'>blog</a>
        -
        <a href='#'>projects</a>
    </nav>
  </header>
  <div id='content'>
    {{ content }}
  </div>
  <footer>
    <a href='#'>contact</a>
    -
    <a href='https://github.com/mattmanning'>github</a>
    -
    <a href='http://twitter.com/#!/mattmanning'>twitter</a>
    -
    <a href='http://www.linkedin.com/in/mattmanning'>linked in</a>
    -
    <a href='http://www.facebook.com/mattmanning'>facebook</a>
  </footer>
</body>
</html>